#preloader {
    width: 80px;
    height: 80px; 
}
#preloader .big {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 3px solid #f3f3f3;
    border-top:3px solid black;
    border-bottom:3px solid black;
    animation: clockwise-spin 2s infinite linear;
}
#preloader .small{
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 100%;
    border: 3px solid #f3f3f3;
    border-right:3px solid black;
    border-left:3px solid black;
    animation: counterclock-wise-spin 1s infinite linear;
}

@keyframes clockwise-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes counterclock-wise-spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg)
    }
}